html {
    scroll-behavior: smooth;
}
.contact-small {
    height: 3vh;
    background-color: teal;
    p {
        display: inline-block;
        font-size: 8px;
        color: #fff;
    }
}
.menu {
    height: 50px;
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    a {
        text-decoration: none;
        font-size: 12px;
        color: rgb(255, 255, 255);
        display: inline-block;
        margin: 0 15px;
    }
    li {
        display: inline-block;
        text-align: center;
        list-style: none;
        margin: 0 80px;
    }
    .dropdown-home {
        background-color: black;
        color: white;
        float: right;
        .dropdown-menu {
            background-color: black;
            min-width: 80px !important;
            a.dropdown-item {
                color: white;
                margin: 0;
                &:hover {
                    background-color: rgb(255, 255, 255);
                    color: rgb(3, 72, 76);
                }
            }
        }
        fa-icon {
            background-color: black;
            color: rgb(255, 145, 0);
            font-size: 15px;
        }
    }
}
.carousel {
    width: fit-content;
    margin-bottom: 30px;
}
.carousel-item img {
    height: 90vh;
}
.carousel-caption {
    margin-bottom: 5%;
    height: 70vh;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.551);
    border: 2px solid teal;
    h5 {
        font-size: 35px;
    }
    p {
        font-size: 13px;
    }
    button {
        border: none;
        padding: 6px;
        border-radius: 5px;
        background-color: teal;
        color: white;
        font-size: 12px;
    }
}
.middle-banner {
    height: 80vh;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 75vw;
    margin: auto;
    margin-top: -5%;
    .programs {
        height: 15vh;
        margin-bottom: 6%;
        padding-top: 10px;
        background: linear-gradient(105deg, teal 70%, rgb(255, 102, 0) 30%);
        column-count: 4;
        color: white;
        p {
            text-decoration: none;
            margin-left: 10px;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    background: rgba(1, 88, 82, 0.32);
                }
            }
            .fas {
                font-size: 30px;
            }
        }
    }
    .news {
        display: table;
        width: 100%;
        height: 50vh;
        font-size: 12px;
        color: white;
        .col {
            width: 33.3%;
            height: 100%;
            display: table-cell;
            background-color: rgb(0, 0, 0);
            text-align: center;
            h4 {
                font: 600 30px/12px;
            }
        }
        .col-1-3 {
            h4 {
                color: orangered;
            }
        }
        .col-2-3 {
            background-color: rgb(156, 250, 156);
            background-image: url("../../assets/images/collaborating-around-the-world-geo-alignment.jpg");
            background-size: cover;
            position: relative;
            h4 {
                margin: auto 20%;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                color: rgb(255, 94, 0);
                font-size: 26px;
                font-family: sans-serif;
                font-weight: 900;
                text-shadow: 2px 4px black;
            }
            p {
                color: black;
                margin: auto;
            }
        }
        .col-3-3 {
            background-color: rgba(255, 68, 0, 0.803);
            h4 {
                font: 600 20px/10px sans-serif;
                color: white;
            }
            li {
                font-size: 15px;
                color: rgb(255, 249, 249);
                list-style: square;
                text-align: start;
                text-shadow: 1px 1px rgb(51, 2, 2);
            }
        }
    }
}
//ABOUT US

.about-us {
    height: 400px;
    background-color: rgba(22, 3, 3, 0.925);
    margin: 20px auto;
    h5 {
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    .container {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        width: 75vw;
        height: 45vh;
    }
    // }
    .grid-1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        background: rgb(0, 0, 0);
        color: white;
    }

    .grid-2 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        background: url("../../assets/images/avengers.jpeg") no-repeat;
        background-size: cover;
    }
}
//TEAM
#team {
    background: linear-gradient(45deg, rgb(255, 81, 0) 60%, rgb(0, 128, 128) 40%);
    height: 600px;
    width: max-content;
    margin: 50px auto;
    h2 {
        color: rgb(250, 248, 248);
        text-align: center;
        font-size: 28px;
    }
    ul {
        margin: 0 25px;
        padding: 0;
        list-style: none;
        display: table;
        li {
            display: table-cell;
            border-radius: 5px;
            width: 350px;
            margin: auto 2px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgba(0, 0, 0, 0.041);
            .figure {
                padding: 20px;
                margin: auto;
                img {
                    border-radius: 25px;
                    padding: 10px;
                    height: 50px;
                }
                p {
                    margin: 15px 0 0 0;
                    padding: 0;
                    color: rgb(0, 0, 0);
                    font-weight: 600;
                    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
                }
                .fig-caption {
                    ul {
                        float: right;
                        clear: right;
                        margin-top: 15px;
                    }

                    .fl_left {
                        font-weight: bold;
                        color: rgb(255, 70, 70);
                        p.team_name {
                            font-weight: bold;
                            color: rgb(0, 0, 0);
                            text-shadow: 1px 1px white;
                        }
                        p.team_title {
                            font-size: 13px;
                            line-height: normal;
                            color: rgb(184, 100, 11);
                        }
                    }
                    ul.social {
                        display: flex;
                        flex-direction: row;
                        background-color: transparent;
                        width: max-content;
                        li {
                            display: inline-block;
                            width: 50px;
                            a {
                                padding: 10px;
                                color: rgb(0, 0, 0);
                                font-size: 1.1rem;
                                width: 25px;
                                outline: none;
                                &:hover {
                                    color: #ff3300;
                                    transition: all ease 0.3s;
                                    border-radius: 30%;
                                }
                            }
                        }
                    }
                    p.team_description {
                        display: block;
                        clear: both;
                        margin: 0;
                        padding-top: 15px;
                        border-top: 1px solid #ffffff;
                    }
                }
            }
        }
    }
}

//Gallery section
.gallery {
    width: fit-content;
    margin: 100px 0 0 0;
    justify-content: space-around;
    background-color: rgb(0, 40, 49);
    .body-v {
        margin: auto;
        h1 {
            color: rgb(255, 255, 255);
            text-align: center;
            text-decoration: none;
            font-family: serif;
            align-self: center;
        }
    }
    .container-v {
        min-height: 465px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 30px;
        align-content: space-around;
        .box {
            position: relative;
            width: 320px;
            height: 240px;
            margin: 10px;
            box-sizing: border-box;
            display: inline-block;
            &:hover .details-v {
                transform: scaleY(1);
            }
            .details-v {
                position: absolute;
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                transform: scaleY(0);
                transition: transform 0.5s;
                .content-v {
                    position: absolute;
                    width: 100%;
                    transform: translate(-50%);
                    text-align: center;
                    background-color: rgb(0, 0, 0);
                    padding: 2px;
                    color: rgb(255, 255, 255);
                    top: 10%;
                    font-size: 14px;
                    font-weight: 900;
                    left: 50%;
                    bottom: 10%;
                    h2 {
                        margin: 0;
                        padding: 0;
                        font-size: 16px;
                        color: #06ffc5;
                        text-shadow: 2px 1px rgb(3, 68, 29);
                    }
                }
            }
            .imgBox {
                position: relative;
                overflow: hidden;
                img {
                    height: 240px;
                    width: 320px;
                    transition: transform 2s;
                    &:hover {
                        transform: scale(1.2);
                        border-radius: 10px;
                    }
                }
            }
        }
    }

}

.footer {
    position: relative;
    bottom: 0;
    top: 100%;
    height: 50px;
    margin: 20px 0 0 0;
    background-color: black;
    color: white;
}